{{!-- <div id="jumbo" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Go Play!</h1>
                <p class="lead">Something Inspirational Goes Here!</p>
            </div>
        </div> --}}

<div id="homeContainer" class="container">
    <div id="homePage" class="row">

        <div id="homeLeft" class="col-4">
            <div class="homeHead">GoPlay!</div>

            <a href="/addevent" id="homeCreate" type="button" class="btn btn-success btn-lg btn-block" role="button">Create an Event</a>

            <div class="card" style="width: 18rem;">
                <img src="https://www.thewetumpkaherald.com/wp-content/uploads/2018/04/baseball-stock-622x350.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">Baseball</h5>
                    <hr>
                    <p class="card-text">Looking for a group of players to get together for some recreational games.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Join Group</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://www.outsidepursuits.com/wp-content/uploads/2018/03/Outdoor-Basketball-Game-1000x610.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">Basketball</h5>
                    <hr>
                    <p class="card-text">Looking for a group of players to get together for some recreational games.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Join Group</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://www.firstteaminc.com/application/files/8715/0014/3060/first-team-blast-park.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">Volleyball</h5>
                    <hr>
                    <p class="card-text">Looking for a group of players to get together for some recreational games.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Join Group</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="http://grfx.cstv.com/photos/schools/mich/sports/m-tennis/auto_responsive_bsi/10409135.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">Tennis</h5>
                    <hr>
                    <p class="card-text">Looking for a group of players to get together for some recreational games.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Join Group</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://media2.fdncms.com/eastbayexpress/imager/u/original/17703015/soccer-ball-ss-img.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">Soccer</h5>
                    <hr>
                    <p class="card-text">Looking for a group of players to get together for some recreational games.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Join Group</button>
                </div>
            </div>
        </div>

        <div id="homeRight" class="col-8">
            <div class="homeHead">Your Plays</div>
            <div class="accordion" id="eventAccordion">
                {{#each events}}
                    {{> event-block}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>