<div id="jumbo" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Go Play!</h1>
                <p class="lead">Something Inspirational Goes Here!</p>
            </div>
        </div>

        <div id="homeContainer" class="container">
            <div id="homePage" class="row">
                <div id="homeLeft" class="col-4">
                    <button id="homeCreate" type="button" class="btn btn-success btn-lg btn-block">Create an Event</button>

                    <div class="card" style="width: 18rem;">
                        <img src="https://www.thewetumpkaherald.com/wp-content/uploads/2018/04/baseball-stock-622x350.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 id="homeCardTitle" class="card-title">Baseball</h5>
                            <hr>
                            <p class="card-text">Looking for a group of players to get together for some recreational
                                games.</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-success">Join Group</button>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="https://www.outsidepursuits.com/wp-content/uploads/2018/03/Outdoor-Basketball-Game-1000x610.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 id="homeCardTitle" class="card-title">Basketball</h5>
                            <hr>
                            <p class="card-text">Looking for a group of players to get together for some recreational
                                games.</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-success">Join Group</button>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                            <img src="https://www.firstteaminc.com/application/files/8715/0014/3060/first-team-blast-park.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 id="homeCardTitle" class="card-title">Volleyball</h5>
                                <hr>
                                <p class="card-text">Looking for a group of players to get together for some recreational
                                    games.</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-success">Join Group</button>
                            </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                                <img src="http://grfx.cstv.com/photos/schools/mich/sports/m-tennis/auto_responsive_bsi/10409135.jpeg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 id="homeCardTitle" class="card-title">Tennis</h5>
                                    <hr>
                                    <p class="card-text">Looking for a group of players to get together for some recreational
                                        games.</p>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-success">Join Group</button>
                                </div>
                            </div>

                            <div class="card" style="width: 18rem;">
                                    <img src="https://media2.fdncms.com/eastbayexpress/imager/u/original/17703015/soccer-ball-ss-img.jpg"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 id="homeCardTitle" class="card-title">Soccer</h5>
                                        <hr>
                                        <p class="card-text">Looking for a group of players to get together for some recreational
                                            games.</p>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success">Join Group</button>
                                    </div>
                                </div>


                </div>





                <div id="homeRight" class="col-8">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">

                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        1. Baseball
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    A pick up league for recreation. Some other content just to take up space and blah
                                    blah blah....

                                </div>
                            </div>
                            <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
    
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            2. Basketball
                                        </button>
                                    </h5>
                                </div>
    
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        A pick up league for recreation. Some other content just to take up space and blah
                                        blah blah....
    
                                    </div>
                                </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        </div>




{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


<!-- 
  - events button to add
  - users events
  - 
-->