<div class="containAll" class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="formHead">Sign Up</h3>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <form class="">

                <div class="" class="form-row formFields">

                    <div class="form-group col-md-6 formFields">
                        <label for="inputUserName">User Name</label>
                        <input type="text" class="form-control" id="inputUserName" placeholder="JD007">
                    </div>
                    <br>
                    <div class="form-group col-md-6 formFields">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>


                    <br>
                    <div class="form-group col-md-6 formFields">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                                        <br>
                    <div class="form-group col-md-6 formFields">
                        <label for="passConf">Confirm Password</label>
                        <input type="text" class="form-control" id="passConf" placeholder="Confirm Password">
                    </div>


                </div>

            </form>
            <div class="row">
                <div id="submitCol" class="col-sm mb-2">
                    <button href="/index" type="submit" id="submitSignUp" class="btn btn-success float-right mr-5" role="button">Sign me up!</button>
                </div>
            </div>
        </div>

    </div>



</div>