<div class="container mb-5">
    <div class="row">
        <div class="col-sm">
            <h3>Sign Up</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Jane">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Doe">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputAge">Age</label>
                        <input type="number" class="form-control" id="inputAge" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPhone">Phone Number</label>
                        <input type="number" class="form-control" id="inputPhone" placeholder="333-333-3333">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>DE</option>
                            <option>NY</option>
                            <option>NJ</option>
                            <option>PA</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUserName">User Name</label>
                        <input type="text" class="form-control" id="inputUserName" placeholder="JD007">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <hr>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Confirm Password</label>
                        <input type="text" class="form-control" id="passConf" placeholder="">
                    </div>
                </div>
                <br>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmergencyContact">Emergency Contact</label>
                        <input type="text" class="form-control" id="emergContact" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Phone Number</label>
                        <input type="number" class="form-control" id="emergNumber" placeholder="333-333-3333">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instagram">Instagram</label>
                        <input type="text" class="form-control" id="instagram" placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="facebook">Facebook</label>
                        <input type="text" class="form-control" id="facebook" placeholder="">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm offset-2">
            <form>
                <div class="form-row">
                    <label for="interests">Interests:</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Sports
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Movies
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Concerts
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Trips
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Games
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Social Events (ie. happy hour, dancing)
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary float-right mr-5">Sign me up!</button>
        </div>
    </div>

</div>