<div id="signInBox" class="container">
                    <div class="row">
                        
                            <div class="col-sm-3"></div>
                        <div class="col-sm-6 align-middle">
                            <div id="signInCorner" class="card card-block mt-4 p-5">
                                <div class="form-group">
                                        <h1 class="formHead">Log In</h1>
                                    <hr>
                                    <hr>
                                    <label for="exampleDropdownFormEmail1">Email address</label>
                                    <input id="placeholderFont" type="email" class="form-control" id="exampleDropdownFormEmail1"
                                        placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Password</label>
                                    <input id="placeholderFont" type="password" class="form-control" id="exampleDropdownFormPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button id="submit" type="submit" id="signin" class="btn btn-primary">Log In</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <a id="signInBottom" class="dropdown-item" href="/signup">- New around here? Sign up</a>
                                <a id="signInBottom" class="dropdown-item" href="#">- Forgot password?</a>
                            </div>
                        </div>
                        <!-- <div class="col-sm-3"></div> -->
                    </div>
                </div>